<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      // API Call to API server to fetch the points

      function getPoints() {
        var xhttp = new XMLHttpRequest();
        var APIURL = "https://peaceful-woodland-37987.herokuapp.com/path/" + "{{path}}"
        // var APIURL = "http://localhost:3000/path/" + "{{path}}"
        xhttp.open("GET", APIURL, false);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
        var points = JSON.parse(xhttp.responseText);
        return points;
      }

      // This example creates a 2-pixel-wide red polyline showing the path made up
      // of points we fetch from an API server
      // The original code was taken from Google Maps APIs example for drawing polylines
      // https://developers.google.com/maps/documentation/javascript/examples/polyline-simple

        function initMap() {

        var runCoordinates = getPoints();

        var lastCoord = runCoordinates[runCoordinates.length -1];

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: lastCoord,
          mapTypeId: 'terrain'
        });


        var runPath = new google.maps.Polyline({
          path: runCoordinates,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        runPath.setMap(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPMjXqG1T7gD7cxd_gKNwgYJfSSaZ4vAk&callback=initMap">
    </script>
  </body>
</html>
